<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 리뷰 제목
	리뷰 내용 
	리뷰 별 
	리뷰 작성자
	리뷰 날짜 + 시간
	경매 내용
	입찰 내용을 table에 담아야 함
	
	어떤 경매를 했고 어떤걸 입찰했는지 위에 간략히 띄우고
	그 다음 아래에 리뷰에 관한 모든걸 넣기??? --> 
	
	<input type="hidden" name="review_idx" th:value="${reviewIdx}">
	
	<div class="review-container">
	    <div class="section-title">📦 거래 정보</div>
	    <table border="1">
	        <tbody>
	            <tr>
	                <th>경매 제목</th>
	                <td th:text="${review.auctionTitle}"></td>
	            </tr>
	            <tr>
	            	<th>최종 입찰가</th>
	                <td th:text="${review.auctionTargetPrice}"></td>
	            </tr>
	            <tr>
	                <th>판매자(입찰자)</th>
	                <td th:text="${review.bidderName}"></td>
	            </tr>
	            <tr>
	            	<th>거래 일자</th>
	                <td th:text="${#temporals.format(review.bidRegdate, 'yyyy-MM-dd HH:mm')}"></td>
	            </tr>
	        </tbody>
	    </table>
	    
	    <div class="section-title">💬 리뷰 상세</div>
	    <table border="1">
	        <tbody>
	            <tr>
	                <th>제목</th>
	                <td th:text="${review.reviewTitle}"></td>
	            </tr>
	            <tr>
	                <th>작성자</th>
	                <td th:text="${review.memName}"></td> 
	            </tr>
	            <tr>
	            	<th>별점</th>
	                <td>
	                    <span th:each="i : ${#numbers.sequence(1, review.reviewStar)}">⭐</span>
	                </td>
	            </tr>
	            <tr>
	                <th>작성 일자</th>
	                <td th:text="${#temporals.format(review.reviewRegdate, 'yyyy-MM-dd HH:mm')}"></td>
	            </tr>
	            <tr>
	                <th>리뷰 내용</th>
	                <td th:text="${review.reviewContent}" colspan="3" class="content-box"></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	
	<div>
		<input type="button" value="뒤로가기" onclick="history.go(-1)">
	</div>
</body>
</html>