<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

		<input type="hidden" name="buyer_idx" th:value="${session.loginUser.memIdx}">
		<input type="hidden" name="bidder_idx" th:value="${bidderIdx}">
		<input type="hidden" name="auction_idx" th:value="${auctionIdx}">
		<input type="hidden" name="bid_idx" th:value="${bidIdx}">
	
		<div>
			<h2>리뷰 작성하기</h2>
		</div>
		
		<form action="/mypage/reviews/reviewSearch" method="get" class="search-box">
		    <select name="searchType">
		    	<option value="">선택하기</option>
		    	<option value="auctionTitle">경매 제목</option>
		        <option value="itemName">상품명</option>
		    </select>
		    
		    <input type="text" name="keyword" placeholder="검색어를 입력하세요">
		    
		    <!-- ## 추가 - 검색어 없을 떈 disabled -->
		    <button id="searchBtn" type="submit" disabled>검색</button>
		</form>
		
		<div th:if="${keyword != null and keyword != '' and #lists.isEmpty(reviewList)}">
		    "<span th:text='${keyword}'></span>"(이)과 관련된 거래가 없습니다
		</div>
		
		<div th:if="${keyword != null and keyword != '' and !#lists.isEmpty(reviewList)}">
		    "<span th:text='${keyword}'></span>"(이)과 관련된 거래입니다
		</div>
		
		<div th:if="${keyword == null or keyword == '' or !#lists.isEmpty(reviewList)}">
			<table border="1">
				<thead>
					<tr >
						<th>경매 제목</th>
						<th>상품명</th>
						<th>관리</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:each="review : ${reviewList}" th:if="${#lists.size(reviewList) > 0}">
						<td th:text="${review.auctionTitle}"></td>
						<td th:text="${review.itemName}"></td>
						<td>
							<button type="button"
            					th:onclick="selectItem([[${review.bidIdx}]], 
    								[[${review.auctionIdx}]], [[${review.bidderIdx}]])">
		                        리뷰 작성
		                    </button> 
						</td>
					</tr>
					
					<!-- 리뷰 없는 경우 -->
					<tr th:if="${#lists.isEmpty(reviewList)}">
				        <td colspan="3">리뷰할 거래가 없습니다</td> 
				    </tr>
				</tbody>
			</table>
		</div>
		
		<!-- 리뷰 작성 버튼 누르면 생김 -->
		<form id="reviewForm" action="/mypage/reviews/reviewWrite" method="post" style="display:none;">
        
        <input type="hidden" name="buyer_idx" th:value="${session.loginUser.memIdx}">
        <input type="hidden" name="bid_idx" id="bid_idx">
        <input type="hidden" name="auction_idx" id="auction_idx">
        <input type="hidden" name="bidder_idx" id="bidder_idx">

		<div>
			<input type="text" id="reviewTitle" name="reviewTitle" placeholder="리뷰 제목(5글자 이상)"> 
		</div>
		
		<div id="stars" name="stars" style="font-size: 30px; cursor: pointer;">
		    <span data-value="1"><i class="bi bi-star"></i></span>
		    <span data-value="2"><i class="bi bi-star"></i></span>
		    <span data-value="3"><i class="bi bi-star"></i></span>
		    <span data-value="4"><i class="bi bi-star"></i></span> 
		    <span data-value="5"><i class="bi bi-star"></i></span>
	    </div>
	    
	    <input type="hidden" name="reviewStar" id="reviewStar">
		
		<div>
			<textarea id="reviewContent" rows="10" cols="60" name="content" placeholder="리뷰를 작성해주세요(10글자 이상)"></textarea>
			<div id="contentCount" style="font-size:12px; color:gray;">0 / 300자</div>
		</div>

        <button type="submit" id="reviewSubmitBtn" disabled>리뷰 남기기</button>
        
        <script>
        	// 검색 기능 disabled 
        	const keywordInput = document.querySelector('input[name="keyword"]');
		    const searchBtn = document.getElementById('searchBtn');
		    const searchType = document.querySelector('select[name="searchType"]');

		    keywordInput.addEventListener("input", function() {
		        if (this.value.trim() === "" || searchType.value === "") {
		            searchBtn.disabled = true;
		        } else {
		            searchBtn.disabled = false;
		        }
		    });
        
        	// 버튼 누르면 리뷰창 띄우기
	        function selectItem(bidIdx, auctionIdx, bidderIdx) {
	            // 값 넣기
	            document.getElementById("bid_idx").value = bidIdx;
	            document.getElementById("auction_idx").value = auctionIdx;
	            document.getElementById("bidder_idx").value = bidderIdx;
	
	            // 리뷰창 보이기
	            document.getElementById("reviewForm").style.display = "block";
	
	            // 스크롤 내리기
	            document.getElementById("reviewForm").scrollIntoView({ behavior: "smooth" });
	        }
        
        	// 별점 부여 기능
		    const stars = document.querySelectorAll("#stars span");
			const reviewStarInput = document.getElementById("reviewStar");
			
			stars.forEach(star => {
			    star.addEventListener("click", function() {
			        const value = this.getAttribute("data-value");
			        reviewStarInput.value = value;
			
			        stars.forEach((s, index) => {
			            const icon = s.querySelector("i");
			
			            if (index < value) {
			                icon.className = "bi bi-star-fill";
			                icon.style.color = "gold";
			            } else {
			                icon.className = "bi bi-star";
			                icon.style.color = "gray";
			            }
			        });
			    });
			});
			
			// 리뷰 제약조건 걸기
			const titleInput = document.getElementById("reviewTitle");
			const contentInput = document.getElementById("reviewContent");
			const reviewBtn = document.getElementById("reviewSubmitBtn");
			
			function checkReviewValid() {
			    const title = titleInput.value.trim();
			    const content = contentInput.value.trim();
			    const contentCount = document.getElementById("contentCount");

			    contentInput.addEventListener("input", function() {
			        const length = this.value.length;

			        contentCount.textContent = length + " / 300자";

			        if (length > 300) {
			            contentCount.style.color = "red";
			        } else {
			            contentCount.style.color = "gray";
			        }
			    });
			
			    const isTitleValid = title.length >= 5;
			    const isContentValid = content.length >= 10 && content.length <= 300;
			
			    if (isTitleValid && isContentValid) {
			        reviewBtn.disabled = false;
			    } else {
			        reviewBtn.disabled = true;
			    }
			}
			
			// 실시간 체크
			titleInput.addEventListener("input", checkReviewValid);
			contentInput.addEventListener("input", checkReviewValid);
		</script>
        
    </form>

</body>
</html>
