<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--	
	마이바티스 참고 사이트
	  - http://blog.mybatis.org/
	  - http://www.mybatis.org/mybatis-3/ko/index.html
	  
	@Mapper 애노테이션이 적용된 인터페이스와 맵퍼 XML파일은
	namespace 속성으로 연결되기 때문에 맵퍼 XML의 namespace를
	지정할 때 @Mapper 애노테이션이 적용된 맵퍼 인터페이스의
	완전한 클래스 이름(패키지를 포함한 이름)을 지정하면 된다.   
-->
<mapper namespace="com.springbootstudy.bbs.mapper.MemberProfileMapper" >
	
	 <update id="update">
        UPDATE member
        SET mem_name = #{memName},
            mem_email = #{memEmail},
            mem_tel = #{memTel},
            mem_bday = #{memBday},
            mem_pwd = #{memPwd}
        WHERE mem_id = #{memId}
    </update>

    <!-- 회원 정보 조회 -->
    <select id="selectOneFromId" resultType="MemberVO">
        SELECT *
        FROM member
        WHERE mem_id = #{memId}
    </select>

    <!-- 등급명 조회 -->
    <select id="selectGradeNameByMemId" resultType="string">
        SELECT g.grade_name
        FROM member m
        JOIN grade g ON m.mem_grade_idx = g.grade_idx
        WHERE m.mem_id = #{memId}
    </select>
 
</mapper>	



