<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootstudy.bbs.mapper.MyPageMapper">

	<select id="getMember" resultType="MemberVO"> SELECT mem_idx, mem_id, mem_name, mem_email FROM
		member WHERE mem_idx = #{memIdx} </select>

	<select id="getAuctionList" parameterType="long" resultType="AuctionVO"> SELECT a.*, (SELECT
		COUNT(*) FROM bid b WHERE b.auction_idx = a.auction_idx) as bidCount FROM auction a WHERE
		a.mem_idx = #{memIdx} ORDER BY a.reg_date DESC </select>

	<select id="getBidListByMemIdx" parameterType="long" resultType="BidVO"> SELECT * FROM bid WHERE
		mem_idx = #{memIdx} ORDER BY bid_date DESC </select>

	<select id="getBoardListByMemIdx" parameterType="long" resultType="BoardVO"> SELECT board_idx,
		title, reg_date, read_count FROM board WHERE mem_idx = #{memIdx} ORDER BY reg_date DESC </select>

	<select id="getBidListByMemIdx" parameterType="long" resultType="BidVO"> SELECT b.*, a.title as
		auctionTitle FROM bid b JOIN auction a ON b.auction_idx = a.auction_idx WHERE b.mem_idx =
		#{memIdx} ORDER BY b.bid_date DESC </select>

</mapper>