<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div class="list-header">
	    <h2>전체 경매 리스트</h2>
	    <div th:if="${session.loginUser != null}">
	        <button th:onclick="|location.href='@{/auction/register}'|" class="btn-primary">
			    🚀 구매 요청하기
			</button>
	    </div>
	</div>
	
	<table>
        <thead>
            <tr>
                <th>경매번호</th>
                <th>카테고리</th>
                <th>이미지</th>
                <th>경매 제목</th>
                <th>구매자 희망가</th>
                <th>최저 제안가</th>
                <th>절약율</th>
                <th>제안수</th>
                <th>남은시간</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${auctionList}" th:onclick="|location.href='@{/auction/auctionDetail/{id}(id=${item.auctionIdx})}'|">
                <td th:text="${item.auctionIdx}">1</td>
                <td th:text="${item.itemCategoryName}">헬스/홈트</td>
                <td>
                    <img th:src="${item.itemThumbnailImg}" alt="썸네일">
                </td>
                <td style="text-align: left;" th:text="${item.auctionTitle}">제목</td>
                
                <td th:text="${#numbers.formatInteger(item.auctionTargetPrice, 0, 'COMMA') + '원'}">50,000원</td>
                <td class="price" th:text="${#numbers.formatInteger(item.minBidPrice, 0, 'COMMA') + '원'}">42,000원</td>
                
                <td class="discount">[[${item.discountRate}]]% 절약</td>
                
                <td th:text="${item.bidCount + '건'}">2건</td>
                <td th:text="${item.timeDisplay}">3일 남음</td>
            </tr>
            
            <tr th:if="${#lists.isEmpty(auctionList)}">
                <td colspan="9">조회된 경매 데이터가 없습니다.</td>
            </tr>
        </tbody>
    </table>
</body>
</html>