<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

<form th:action="@{/members/login}" method="post">

	<script type="text/javascript">
		//필수 항목 체크 안되면 못 넘어가게 하는 기능
		function checkValid() {
		    // 변수 선언
		    let memId = document.querySelector("#memId").value.trim();
		    let memPwd = document.querySelector("#memPwd").value.trim();
	
		    let btn = document.querySelector("input[name='loginBtn']");
	
		    // 모든 값을 입력해야 버튼 활성화		
		    let isValid =
		    	memId !== "" &&
		    	memPwd !== "";
	
		    // 버튼 활성화 / 비활성화
		    btn.disabled = !isValid;	
	
		    // 비활성화 시 css 변경
		    if (!isValid) {
		        btn.style.opacity = "0.5";
		        btn.style.cursor = "not-allowed";
		    } 
		    else {
		        btn.style.opacity = "1";
		        btn.style.cursor = "pointer";
		    }
		}
	</script> 

    <div class="row my-5">
        <div class="col-6 offset-3">

            <h2 class="text-center">로그인</h2>

            <div class="my-3">
                <input class="form-control" id="memId" name="memId" placeholder="🏷️ your ID">
            </div>

            <div class="my-3">
                <input class="form-control" id="memPwd" name="memPwd" type="password" placeholder="🔒 ••••••••">
            </div>
            
            <!-- 로그인 실패 시 -->
            <div th:if="${error}">
			    <span th:text="${error}" style="color: gray; font-size: 12px;">아이디나 비밀번호가 틀렸습니다</span>
			</div>

            <div class="my-3">
                <input type="submit" class="btn btn-dark w-100" value="로그인">
            </div>

            <div class="text-center">
                <a th:href="@{/members/signUp}">
                    회원가입
                </a>
            </div>

        </div>
    </div>

</form>

</th:block>
</html>