<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">

	<th:block layout:fragment="content">
		<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			<div>
				<h2>내 정보 수정</h2>
				<span style="color: gray; font-size: 12px;">회원 정보를 업데이트하세요</span>
			</div>
			
			<div>
				<form action="/views/member/memberUpdate" id="memberUpdateForm" name="memberUpdateForm" method="post">					
					<div id="memId" name="memId">
						<label>아이디</label>
						<input type="text" name="id" id="id"  readonly>
						
						<input type="hidden" id="gradeIdx" name="gradIdx" > <!-- th:value="${memberVO.memName}" -->
						회원등급 <br>
						<!-- ${grade_name} -->
					</div>
					
					<div id="memName" name="memName">
						<label>이름</label>
						<input type="text" name="name" id="name" >
					</div>
					
					<div id="memEmail" name="memEmail">
						<label>이메일</label>
						<input type="text" name="email" id="email" >
					</div>
					
					<div id="memTel" name="memtel">
						<label>전화번호</label>
						<input type="text" name="tel" id="tel" >
					</div>
					
					<div id="memBday" name="memBday">
						<label>생년월일</label>
						<input type="text" name="bday" id="bday" >
					</div>
					
					<div id="memPwd" name="memPwd">
						<label>새 비밀번호</label>
						<input type="password" name="pwd" id="pwd" >
					</div>

					<div>
						<button>정보 업데이트</button>
					</div>
				</form>
			</div>
	</th:block>
</html>		