<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">

	<th:block layout:fragment="content">
		<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			<div>
				<h2>내 정보 수정</h2>
				<span style="color: gray; font-size: 12px;">회원 정보를 업데이트하세요</span>
			</div>
			
			<div>
				<form action="/members/memberUpdate" id="memberUpdateForm" name="memberUpdateForm" method="post">					
					<div id="id" name="id">
						<label>아이디</label>
						<input type="text" name="memId" id="memId" th:value="${memberVO.memId}" readonly>
					</div>
					
					<!-- 추가한 부분 -->
					<div id="grade" name="grade">
						<label>회원등급</label>
						<input type="text" name="gradeName" id="gradeName" th:value="${gradeName}" readonly>
					</div>
					
					<div id="name" name="name">
						<label>이름</label>
						<input type="text" name="memName" id="memName" th:value="${memberVO.memName}">
					</div>
					
					<div id="email" name="email">
						<label>이메일</label>
						<input type="text" name="memEmail" id="memEmail" th:value="${memberVO.memEmail}">
					</div>
					
					<div id="tel" name="tel">
						<label>전화번호</label>
						<input type="text" name="memTel" id="memTel" th:value="${memberVO.memTel}">
					</div>
					
					<div id="bday" name="bday">
						<label>생년월일</label>
						<input type="date" name="memBday" id="memBday" th:value="${memberVO.memBday}">
					</div> 
					
					<div id="pwd" name="pwd">
						<label>새 비밀번호</label>
						<input type="password" name="newPwd" id="newPwd" placeholder="🔒 변경할 비밀번호를 입력해주세요">
					</div>

					<div>
						<button type="submit">정보 업데이트</button> 
					</div>
				</form>
			</div>
	</th:block>
</html>		