<!DOCTYPE html>
<!--/* 
	Thymeleaf와 Thymeleaf Layout을 사용하기 위한 NameSpace를 정의한다.
	layout:decorate 옵션은 아래의 <th:block layout:fragment="content">
	부분을 어떤 레이아웃에 적용할지 설정하는 것으로 경로 지정은
	templates 폴더를 기준으로 지정하면 된다.
*/-->
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">
	<!--/* content */-->
	<!--/* 
		block을 사용해도 되고 div에 직접 layout:fragment를 적용해도 된다.
		main_layout.html에서 지정한 layout:fragment의 이름과 같아야 한다.  
	*/-->
	<th:block layout:fragment="content">			
		<div class="row my-5" id="global-content">
			<div class="col-10 offset-1">
				<form name="checkForm" id="checkForm">
					<input type="hidden" name="no" id="no" th:value="${board.no}"/>
					<input type="hidden" name="pass" id="rPass" />
					<input type="hidden" name="pageNum" th:value="${pageNum}"/>
				</form>
				<div class="row text-center">
					<div class="col">
						<h2 class="fs-3 fw-bold" th:text="#{bbs.detail.title}">게시글 상세보기</h2>
					</div>
				</div> 
				<div class="row my-3">
					<div class="col">
						<table class="table table-bordered" >
							<tbody>					
								<tr>
									<th class="table-secondary">제 목</th>
									<td colspan="3" th:text="${board.title}"></td>		
								</tr>
								<tr>
									<th>글쓴이</th>
									<td th:text="${board.writer}"></td>
									<th>작성일</th>
									<td>[[${ #dates.format(board.regDate, 'yyyy-MM-dd HH:mm:dd') }]]</td>		
								</tr>
								<tr>		
									<th>비밀번호</th>
									<td>
										<div class="col-sm-8">
											<input class="form-control" type="password" name="pass" id="pass">
										</div>
									</td>
									<th>조회수</th>
									<td th:text="${board.readCount}"></td>
								</tr>	
								<tr>
									<th>파&nbsp;&nbsp;&nbsp;&nbsp;일</th>
									<td colspan="3">
										<th:block th:if="${ not #strings.isEmpty(board.file1) }">
											<a th:href="@{|files/${board.file1}|}">다운로드</a>
										</th:block>
										<th:block th:unless="${ not #strings.isEmpty(board.file1) }">
											첨부파일 없음
										</th:block>
									</td>		
								</tr>
								<tr>		
									<td colspan="4" style="white-space: pre">[[${ board.content }]]</td>
								</tr>	
							</tbody>
						</table>
					</div>
				</div>
				<div class="row my-3">
					<div class="col text-center">
						<input class="btn btn-warning" type="button" id="detailUpdate" value="수정하기"/>
						&nbsp;&nbsp;<input class="btn btn-danger"  type="button" id="detailDelete" value="삭제하기" />			
						&nbsp;&nbsp;<input class="btn btn-primary" type="button" value="목록보기" 
							th:onclick="@{|location.href='boardList?pageNum=${pageNum}'|}"/>
					</div>
				</div>
			</div>	
		</div>
	</th:block>
</html>					
