<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	메인(임시) <br>
	메인 생기면 삭제할 예정 <br>
	
	${memberVO.memName} <br>
	
	<hr>

	(메인 만들면 삭제 예정!!) <br>
	<input type="button" value="회원가입" onclick="location.href='/views/member/signUp'">
	<input type="button" value="로그인" onclick="location.href='/views/member/login'">
	<input type="button" value="회원 정보 수정" onclick="location.href='/views/member/memberUpdate' ">
	<input type="button" value="로그아웃" onclick="location.href='/memberLogout'">
	<input type="submit" value="회원 탈퇴" onclick="location.href='/memberDelete' ">
	
</body>
</html>